<script>$(document).on("turbolinks:load",function(){ $('.tag-tooltip').tooltip(); })</script>
<% unless smart_listing.empty? %>
  <table class="table-bordered">
    <thead>
      <tr>
        <th>
          Preview
        </th>
        <th>
          <%= smart_listing.sortable "Artist", :artist %>
        </th>
        <th>
          <%= smart_listing.sortable "Title", :title %>
        </th>
        <th>
          <%= smart_listing.sortable "BPM", :bpm %>
        </th>
        <th>
          <%= smart_listing.sortable "Energy", :energy %>
        </th>
        <th>
          <%= smart_listing.sortable "Released", :year %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% smart_listing.collection.each do |song| %>
        <tr>
          <td><%= song.preview_link %></td>
          <td>
            <%= song.artist.downcase %>
          </td>
          <td>
            <%= link_to song.title.downcase, song_path(song.id),
                  class: "tag-tooltip",
                  :data => {:toggle=>"tooltip"},
                  'data-original-title' => "[#{song.key}] #{song.genres}",
                  'data-placement' => 'right'%>
          </td>
          <td align="center">
            <%= song.bpm %>
          </td>
          <td align="center">
            <%= song.energy %>
          </td>
          <td align="center">
            <%= song.year %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <%= smart_listing.paginate %>
<% else %>
  <p class="warning">¯\_(ツ)_/¯</p>
<% end %>
